// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.overflow-hidden {
  overflow: hidden !important;
}

.truncate-ellipsis {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

.truncate-ellipsis > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sj-center {
    margin:0 auto;
    display: block !important;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.divider-top{
  border-top: 1px solid $color-lines;
}

.divider-top-bottom{
  border-bottom: 1px solid $color-lines;
  border-top: 1px solid $color-lines;
}

.sj-border {
  border: $base-border;

   &-bottom-1 {
    border-bottom: $base-border;
  }
}

.sj-valign {

  &--middle {
    vertical-align: middle;
  }
}

.sj-hidden {
  display: none !important;
}

.sj-break-word {
  word-break: break-word;
}

.sj-text-decoration-over {
  text-decoration: overline;
}

.sj-bg-color {
  background-color: $color-bg;
}



.sj-border-list {

  .item {
    border-bottom: $base-border;

    &:first-child {
      border-top: $base-border;
    }
  }
}

