<button class="btn-custom btn-custom-border btn-custom-edit mr-2" >
       <svg role="img" class="sj-dropdown-item__icon sj-dropdown-item__icon--success">
            <use xlink:href="svg/icons/icon-sprite.svg#edit"></use>
        </svg>
</button>