<div class="offers-list mb-4 mt-4">
        <div class="sj-offer sj-offer-pay">
            <div class="sj-offer-main">
                <div class="sj-offer-status">status</div>
                <a href="offer-detail.html" class="sj-offer-link link ">
                    <div class="sj-offer-content">
                        <div class="truncate-ellipsis">
                            <div class="sj-offer-name link">PHP programator bla strom les poust savana bum</div>
                        </div>
                        <div class="sj-offer-content-meta">
                            <time class="text-secondary fz-sm link" datetime="2008-02-14 20:00">čeká na zaplacení</time>
                            <div class="sj-offer-meta text-secondary">
                                <span class="sj-offer-meta-item">120 kandidátů<span class="sj-offer-meta-item-new">(15 nových)</span></span>
                                <span class="sj-offer-meta-item color--primary">410 talentů<span class="sj-offer-meta-item-new"></span></span>
                            </div>
                        </div>
                    </div>
                </a>
                {% include 'edit-button.twig' %}
                <button class="btn-custom btn-custom-danger sj-offer-button mr-2">Zaplatit</button>
            </div>

        </div>
        <div class="sj-offer sj-offer-approve">
            <div class="sj-offer-main">
                <div class="sj-offer-status">status</div>
                <a href="offer-detail.html" class="sj-offer-link link ">
                    <div class="sj-offer-content">
                        <div class="truncate-ellipsis">
                            <div class="sj-offer-name link">PHP programator bla strom les poust savana bum</div>
                        </div>
                         <div class="sj-offer-content-meta">
                            <time class="text-secondary fz-sm link" datetime="2008-02-14 20:00">čeká na zaplacení</time>
                            <div class="sj-offer-meta text-secondary">
                                <span class="sj-offer-meta-item">120 kandidátů<span class="sj-offer-meta-item-new">(15 nových)</span></span>
                                <span class="sj-offer-meta-item color--primary">410 talentů<span class="sj-offer-meta-item-new"></span></span>
                            </div>
                        </div>
                    </div>
                </a>
                {% include 'edit-button.twig' %}
                <button class="btn-custom btn-custom-border mr-2 hidden-xs-down">prodloužit</button>
                <button class="btn-custom btn-custom-danger sj-offer-button mr-2">Zaplatit</button>
            </div>
        </div>
        <div class="sj-offer sj-offer-locked">
            <div class="sj-offer-main">
                <div class="sj-offer-status">status</div>
                <a  class="sj-offer-link link ">
                    <div class="sj-offer-content">
                        <div class="truncate-ellipsis">
                            <div class="sj-offer-name link">PHP programator bla strom les poust savana bum</div>
                        </div>
                         <div class="sj-offer-content-meta">
                            <time class="text-secondary fz-sm link" datetime="2008-02-14 20:00">čeká na zaplacení</time>
                            <div class="sj-offer-meta text-secondary">
                                <span class="sj-offer-meta-item">120 kandidátů</span>
                                <span class="sj-offer-meta-item color--primary">410 talentů<span class="sj-offer-meta-item-new"></span></span>
                            </div>
                        </div>
                    </div>
                </a>
                {% include "edit-button.twig" %}
                <button class="btn-custom btn-custom-border mr-2">obnovit</button>
            </div>
        </div>
        <div class="sj-offer">
            <div class="sj-offer-main">
                <div class="sj-offer-status">status</div>
                <a href="offer-detail.html" class="sj-offer-link link ">
                    <div class="sj-offer-content">
                        <div class="truncate-ellipsis">
                            <div class="sj-offer-name link">PHP programator bla strom les poust savana bum</div>
                        </div>
                         <div class="sj-offer-content-meta">
                            <time class="text-secondary fz-sm link" datetime="2008-02-14 20:00">čeká na zaplacení</time>
                            <div class="sj-offer-meta text-secondary">
                                <span class="sj-offer-meta-item">120 kandidátů<span class="sj-offer-meta-item-new">(15 nových)</span></span>

                            </div>
                        </div>
                    </div>
                </a>
                {% include 'edit-button.twig' %}
            </div>
        </div>
</div>
