<div class="talents-list">
    <div class="talents-counter text-secondary text-center"><span class="number">32</span> talentů</div>
    {% for i in 0..10 %}
        <a href="talent-detail.html" class="talent link ">
            <figure class="talent__avatar rounded-circle overflow-hidden">
                <img class="w-100" src="http://www.ala-access.com/s/wp-content/uploads/2016/01/analyst-placeholder-avatar.png" alt="">
            </figure>
            <div class="talent__content">
                <div class="talent__name link">Natalie Kate Somethingelse</div>
                <time class="text-secondary fz-sm link" datetime="2008-02-14 20:00">Aktivní včera</time>
            </div>
        </a>
    {% endfor %}
</div>