<div class="sj-dropdown sj-dropdown--over dropdown sj-menu-companies">
    <a class="sj-dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span><em class="hidden-xs-down">Admin</em> Noobium Software Development International</span>
    </a>
    <div class="sj-dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item sj-dropdown-item text-center" href="#">Noobium Software Development International</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item sj-dropdown-item text-center" href="#">Spaceknow Inc.</a>
        <a class="dropdown-item sj-dropdown-item text-center" href="#">Hiri.cz</a>
        <a class="dropdown-item sj-dropdown-item text-center text-success" href="#">+ Přidat firmu</a>
    </div>
</div>
