<div class="sj-dropdown dropdown sj-menu-user">
    <a href="#" class="sj-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="rounded-circle sj-dropdown-toggle__icon" src="https://satyr.io/102x102/silver?text=US ER" alt="">
    </a>
    <div class="sj-dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item sj-dropdown-item" href="#">Moisés Guimarães de Medeiros Jr.
            <small class="sj-dropdown__small">Zobrazit profil</small>
        </a>
        <a class="dropdown-item sj-dropdown-item" href="#">Nastavení</a>
        <a class="dropdown-item sj-dropdown-item" href="#">Kam jsem se hlásil(a)</a>
        <a class="dropdown-item sj-dropdown-item" href="#">Newsletter</a>
        <a class="dropdown-item sj-dropdown-item text-danger" href="#">Odhlásit</a>
    </div>
</div>
