<nav class="sj-menu-main" role="navigation">
    <div class="container">
        <ul class="nav nav-fill">
            <li class="nav-item hidden-sm-down">
                <a class="nav-link " href="#">+ Přidat nabídku</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Nabídky <span class="badge badge-pill badge-danger  hidden-sm-down">31</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Zájemci</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profil</a>
            </li>
            <li class="nav-item hidden-sm-down">
                <a class="nav-link " href="settings-company.html">Nastavení</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="billing-summary.html">
                    Fakturace
                    <span class="badge badge-pill sj-badge-white hidden-md-down">
                        120&nbsp;000
                        <svg width="14" height="14"><use xlink:href="/svg/images/svg-sprite.svg#credit"/></svg>
                    </span>
                </a>
            </li>
            <li class="nav-item sj-showmore-icon d-flex justify-content-center align-items-center active hidden-md-up ">
               <div class="sj-showmore-icon-dots"></div>
            </li>
        </ul>
    </div>
    {% include "../components/mobile-menu-hidden-content.twig" %}
</nav>
