<div class="menu-more-content sj-border-bottom-1  hidden-md-up">
    <div class="container">
        <div class="d-flex justify-content-between">
            <a href="" class="color--success font-weight-bold">
                +Přidat nabídku
            </a>
            <div class="font-weight-bold">
                <span class="text-secondary">Máte</span>
                <span class="badge badge-pill sj-badge-white">
                    120&nbsp;000
                    <svg width="14" height="14"><use xlink:href="/svg/images/svg-sprite.svg#credit"/></svg>
                </span>
            </div>
        </div>

        <div class="search-field mt-4 mb-4 d-flex">

            <input type="search" class="form-control" id="searchfield" aria-describedby="emailHelp" placeholder="Vyhledejte...">
            <button class="btn btn-primary fz--xlg sj-valign--middle"><span class="icon-lupe"></span></button>
        </div>
        </div>
        <ul class="nav flex-column justify-content-center font-weight-bold pb-3">
            <li class="nav-item"><a class="nav-link text-center p-2 d-block text-secondary" href="">Nápověda</a></li>
            <li class="nav-item"><a class="nav-link text-center p-2 d-block text-secondary" href="">Nastavení</a></li>
        </ul>
    </div>
</div>
