.sj-ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  li {
    position: relative;
    padding-left: 1em;

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: .5em;
      height: .5em;
      background: $color-primary;
      border-radius: 100%;
      left:0;
      top: .5em;
    }
  }
}