.sj-menu-user {
  $menu-bg-color: $sj-color-bg-page;
  $menu-border-width: 2px;
  justify-self: flex-end;
  background-color: $menu-bg-color;

  .sj-dropdown-toggle__icon {
    border: $menu-border-width solid $menu-bg-color;
    width: 34px + 2 * $menu-border-width;
    height: 34px + 2 * $menu-border-width;
  }

  &.show .sj-dropdown-toggle__icon {
    border-color: $color-primary;
  }

  .sj-dropdown-menu {
    width: 94vw;
    max-width: 18rem;
  }
}
