.sj-menu-companies {
  position: static;
  flex: 1 1 100%;
  min-width: 6em;

  .sj-dropdown-toggle {
    justify-content: flex-start;
    color: $color-text-secondary;
    font-size: $font-size-sm;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;

    @include media-breakpoint-up(sm) {
      font-size: (28/$base-size) * 1rem; // 28px
      text-align: center;
      flex-basis: 100%;
    }


    em {
      font-weight: $font-weight-bold;
      font-style: normal;
      margin-right: .1em;
      color: $color-primary-dark;
    }

    span {
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }

  .sj-dropdown-menu {
    top: 2vw;
    left: 0;
    width: 100%;
  }
}
