.sj-menu-main {
  background-color: $color-bg;
  z-index: 100;

  .container {

    @include media-breakpoint-down(sm) {

      padding-left: 0;
      padding-right: 0;
    }
  }

  .nav-link {
    font-size: $font-size-sm;
    color: $color-primary-dark;
    font-weight: $font-weight-bold;

    @include media-breakpoint-up(sm) {
      font-size: $font-size-md;
      padding: 1.75*$nav-link-padding $nav-link-padding;
    }

    @include hover-focus {
      color: $color-primary-light;
    }

    &.active {
      color: $color-primary;
      background: $sj-color-bg-page;
    }
  }

}

.sj-showmore-icon {
  width:2rem;
  cursor: pointer;

  &.active {
    background: #FFF;

    .sj-showmore-icon-dots {
      background: $color-primary;
    }
  }
}

.sj-showmore-icon-dots {

  position: relative;
  width: (3/ $base-size) * 1rem;
  height:(3/ $base-size)  * 1rem;
  background-color:$color-primary-dark;
  border-radius: 50%;


  &:before, &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    background-color: inherit;
    border-radius: inherit;
  }

  &:before {
    top: ((18/3) / $base-size)*1rem;
  }

  &:after {
    bottom: ((18/3) / $base-size)*1rem;
  }
}



// Mobile menu hidden content - SHOW MORE BUTTON

.menu-more-content {
  display: none;
  padding-top: $spacer;
  background: #FFF;
  padding: 1rem;

  .search-field {

    .icon {
      font-size: 1.5rem;

      svg path {
        fill: #FFF;
      }
    }
  }
}