.sj-offer {
  border-bottom: $base-border;


  .btn-custom-edit {
    display: none;
  }

  a {
    text-decoration: none;
  }

  &:hover{
    background-color: $color-bg;
   
    .btn-custom-edit {
      display: inline-block;
    }
  }

  

  &-main {
  align-items: center;
  display: flex;

  }
  &-link{
    color: $color-text;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &-name {
    font-weight: bold;
    padding-right:1rem;
  }

  &-content-meta{

    @include media-breakpoint-up(lg) {
      .sj-offer-meta{
        display: inline-block;
        padding-left: 12rem;
      }
    }

  }

  &-pay{
    .sj-offer-status{
      background-color: $color-danger;
    }

    &:first-child {
      border-top: $base-border;
    }

  }

  &-approve {
      .sj-offer-status{
      background-color: $color-approve;
    }

  }

  &-locked{
    color:  $color-text-secondary;

    .sj-offer-status{
      background-color: $color-text-secondary;
    }
  }


  &-meta-item {
    white-space: nowrap;

    &:nth-child(2){
      &:before{
        content:"";
        display: inline-block;
        border-radius: 10px;
        background-color: $color-text-secondary;
        width:6px;
        height:6px;
        margin: .1rem .5rem;

      }
    }

  }

  &-meta-item-new {
    color: $color-success;
  }

  &-status {
    width:8px;
    height:8px;
    background-color: $color-success;
    border-radius:10px;
    margin: .5rem;
    text-indent: 10000px;
  }

  &-button {
    display: inline-block;
    color: white;

  }

  &-meta {
    font-size: $font-size-sm;
    font-weight: 600;
  }
}

.sj-offer-empty{
  &-button{
    margin-bottom: 2rem;

  }

  &-image{
    background-image: "";
  }

  &-text{
    font-weight: 600;
    margin-bottom: 2rem;
  }
}

.sj-hotjobs {
  &-about  {
    font-size: $font-size-sm;
  }

  &-offers-list {

    &-item{
      margin: 0;
    }
    border: 1px solid $color-border;
    height: 14rem;
    overflow-y: scroll;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.73) 73%,rgba(249,249,249,1) 100%);
  }

  &-offers-list-inner {
    padding-left: .5rem;
  }

  &-offers-overview-item, &-offers-payment-item{
    padding-top: .4rem ;
    padding-bottom: .4rem ;
  }


}


