.talent {
  display: flex;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  border-bottom: $base-border;
  color: $color-text;

  &__avatar {
    display: inline-block;
    width: (40/$base-size) * 1rem;
    margin-right: 1rem;
  }

  &__name {
    line-height: 1;
    font-weight: bold;
  }
}
