.sj-footer {
  background: #212326;
  padding: 18px 0;
  text-align: center;
  font-size: $font-size-sm;

  &__add-offer {
    color: $color-success;

    &:hover {
      color: #FFF;
      text-decoration: none;
    }
  }

  &__nav {
    list-style: none;
    padding-left: 0;
    margin: .5rem 0;
  }

  &__item {
    display: inline-block;
    margin: 0 .5rem;

    a {
      color: #FFF;

      &:hover {
        color: $color-success;
        text-decoration: none;
      }
    }

    &--success  {
      display: block;
      margin-bottom: $spacer;

      a {
        color: $color-success;
      }

      @include media-breakpoint-up(md) {
        display: inline-block;
        margin-bottom:0;
      }
    }
  }

  &__btn {
    font-size: $font-size-sm;
    background: #373d41;
    border-radius: (5/$base-size) * 1rem;
    padding: .5rem;

    &:hover {
      color: $color-success;
    }
  }

  &__copyright {
    color: #b2b3b6;
  }

  @include media-breakpoint-up(md) {
    .container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }
}

