<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}
{% block footerScripts %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script async src="/js/plugins/bootstrap.js"></script>
<script async src="/js/plugins/bootstrap-select.js"></script>
<script async src="/js/plugins/svg4all.js"></script>
<script async src="/js/plugins/horizon-swiper.js"></script>
<script async src="/js/plugins/sticky.js"></script>

<script async src="/js/template.js"></script>
</body>
</html>
