{% extends "base.twig" %}

{% block body %}
    {% include "header.twig" %}
    {% include "../components/menu-main.twig" %}

    <div class="sj-site-content-wrapper">

    {% block content %}{% endblock %}
    </div>
    {% include "footer.twig" %}
{% endblock %}
