.sj-list-lines {

  .user-list-item  {
    border-bottom: $base-border;
    padding-right: 2rem;
    position: relative;

    .user-list-name {
      font-size: (18/$base-size) * 1rem;
    }

    .user-list-icon-wrapper {
      position: absolute;
      right:0;
      transform: translateY(-50%);
      top: 50%;
      font-size: $font-size-lg;
    }

    &:first-child, &:first-of-type {
      border-top: $base-border;
    }
  }

  @include media-breakpoint-up(md) {

    .user-list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user-list-icon-wrapper {
        position: static;
        transform: none;
      }
    }
  }
}