{% extends "layout/layout.twig" %}

{% block title %}Nabídky - StartupJobs Template{% endblock %}

{% block content %}
    <div class="container">

    </div>
{% endblock %}

{% block footerScripts %}{% endblock %}
