{% extends "layout/layout.twig" %}
{% block title %}Fakturace - StartupJobs Template{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
        <div class="row">
            <div class="col-md-6">
                <section class="section text-center section--border">
                    <div class="fz-lg text-secondary">
                        Máte k dispozici
                        <span class="color-primary">0</span>
                        <span class="svg icon">
                            <svg role="img"><use xlink:href="svg/images/svg-sprite.svg#credit"></use> </svg>
                        </span>
                    </div>
                    <a href="{{page.billing.credits}}" class="btn btn-primary">Koupit kredity</a>
                </section>
                {{}}

                <section class="section text-center">
                    <h2 class="h2">Faktury</h2>
                    <p class="paragraph"> momentálně nemáte žádné vystavené faktury za naše služby. </p>
                    <div class="js-svg">
                        <svg role="img"><use xlink:href="svg/images/svg-sprite.svg#Buy_credits"></use> </svg>
                    </div>
                    <p class="paragraph">
                        Můžeme vám nabídnout některý z výhodných balíčků kreditů?
                    </p>
                    <a href="" class="btn btn-primary">Koupit kredity</a>
                </section>
            </div>
            <div class="col-md-6">
                <section class="section text-center section--border">
                    <h2 class="h2">Fakturační údaje</h2>
                    <ul class="list-unstyled text-center">
                        <li>Československá obchodní banka, a.s.</li>
                        <li>IČ: 00001350</li>
                        <li>DIČ: CZ00001350 </li>
                        <li>Radlická 333/150, 15057  Praha 5, Česká Republika</li>
                    </ul>
                </section>

                <section class="section text-center">
                    <h2 class="h2">Chcete uplatnit kupon? </h2>
                    <div class="d-flex input-button">
                        <input type="text" class="input-text">
                        <button class="btn btn-primary">Uplatnit</button>
                    </div>
                </section>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block footerScripts %}{% endblock %}
