{% extends "layout/layout.twig" %}

{% block title %}Index{% endblock %}



{% block content %}
    <div class="container sj-work-list">
        <h1>Index</h1>
        {% for i, j in page %}
            <section class="section">
            {% for group, n in j %}
                <h2>{{ group }}</h2>
                    {% for o, m in n %}
                        <ul class="nav">
                            {% for name, url in m %}
                                <li class="">
                                    <a style="" href="{{ url }}" class="">{{ name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
            {% endfor %}
            </section>
        {% endfor %}
    </div>
{% endblock %}
