{% extends "layout/layout.twig" %}

{% block title %}Nabídky - StartupJobs Template{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            {% include "components/list-nabidky.twig" %}
        </div>
    </div>
{% endblock %}

{% block footerScripts %}{% endblock %}
