{% extends "layout/layout.twig" %}

{% block title %}Nabídky - StartupJobs Template{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-center">Objednat HotJobs<span class="badge badge-danger text-uppercase ml-2 p-1">hot</span></h3>
        <div class="text-center mb-5">
            <h4>Co je to HotJobs?</h4>
            <p class="sj-hotjobs-about">
                Reklamní kampaň na Facebooku<br><br>Nabídka zobrazena na hlavní straně a přednostněve všech kategoriích<br><br>Nabídka bude odeslána newsletterem, zveřejněna na Facebooku a Twitteru<br>
            <a href="">Více informací</a>
            </p>
        </div>
        <div class="sj-hotjobs-offers">
            <div class="fz--sm fw--600 justify-content-between d-flex text-secondary mb-2 pl-2 pr-2">
                <span>Nabídky</span>
                <span><span class="text-primary">1</span> nabídka vybrána</span>
            </div>
            <div class="sj-hotjobs-offers-list mb-1">
                <ul class="sj-hotjobs-offers-list-inner">
                {% for li in 1..12 %}
                    <li>
                        <label class="custom-control custom-checkbox sj-hotjobs-offers-list-item">
                          <input type="checkbox" class="custom-control-input">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">.NET Programator</span>
                        </label>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="sj-hotjobs-price text-center mb-4">
                <span>mezisoučet objednávky: <span class="fz--lg fw--600">1599</span>kc/<span class="fz--lg fw--600" >14</span> dni</span>
                <span class="text-secondary fz--xs">ceny jsou uvedeny bez dph</span>
            </div>
        </div>
        <div class="">
              <div class="form-group">
                    <label for="exampleTextarea" class="text-secondary fz--sm fw--600 pl-2 pr-2">poznamky</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
        </div>
        <div class="mb-5">
            <label class="custom-control custom-checkbox sj-hotjobs-offers-list-item">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description fw--600">Prodlužovat automaticky</span>
            </label>
            <p class="fz--xs text-secondary pl-4">HotJobs bude automaticky prodloužen v den konce platnosti o jeden měsíc. Toto nastavení můžete kdykoliv změnit v detailu nabídky.</p>
        </div>
        <div class="mb-5 d-flex justify-content-center">
            <a href="#" class="btn btn-primary">Pokračovat k platbě</a>
        </div>
    </div>
{% endblock %}

{% block footerScripts %}{% endblock %}
