{% extends "layout/layout.twig" %}

{% block title %}Nabídky - StartupJobs Template{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex">
            <a href="add-offer-new.html" class="btn-custom btn-custom-add sj-center sj-offer-empty-button">+ přidat nabídku</a>
        </div>
        <div class="img-fluid m-4">
            <svg role="img">
                <use xlink:href="svg/images/svg-sprite.svg#no_job_offers"></use>
            </svg>
        </div>
        <div class="sj-offer-empty-text">
            <div class="text-center">Zatím nemáte žádné nabídky</div>
            <div class="color--success text-center">Přidejte první!</div>
        </div>
    </div>
{% endblock %}

{% block footerScripts %}{% endblock %}
