{% extends "layout/layout.twig" %}
{% block title %}Nastavení - Fakturační údaje{% endblock %}
{% block content %}
{% include "components/menu-settings.twig" %}
<div class="container">
    <div class="user-list sj-list-lines mb-4">
        <h2 class="h2 text-secondary pt-md-5 mb-md-5 pt-4 mb-4 text-center">Vaši současní správci</h2>
        <div class="user-list-item py-2 py-md-3">
            <strong class="user-list-name">Natalie Kate Somethingelse</strong>
            <div class="text-secondary fz--sm-mobile sj-break-word text-sm-center">natalie.kate.somethingelse1234@gmail.com</div>
            <div class="text-right user-list-icon-wrapper">
                <a href="/" class="icon-trash icon-danger-hover text-secondary"></a>
            </div>
        </div>
        <div class="user-list-item py-2 py-md-3">
            <strong class="user-list-name">Kate Something</strong>
            <div class="text-secondary fz--sm-mobile sj-break-word ">natalie.kate@gmail.com</div>
            <div class="text-right  user-list-icon-wrapper">
                <a href="/" class="icon-trash icon-danger-hover text-secondary "></a>
            </div>
        </div>
    </div>
    <div class="inner-container">
        <h2 class="h2 font-weight-bold  pt-md-5 mb-md-5 text-center">Přidat správce</h2>
        <div class="content">
            <form action="">
                <div class="form-group is-required">
                    <label for="formGroupExampleInput">Jméno a příjemní</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" required>
                </div>
                <div class="form-group is-required">
                    <label for="formGroupExampleInput">E-mail</label>
                    <input type="email" class="form-control" id="formGroupExampleInput" required>
                </div>
                <div class="text-center text-secondary fz--sm my-4">
                    (Pole označená <span class="required-mark"></span></span> jsou povinná)
                </div>
                <div class="text-center mb-5">
                    <a href="" class="btn btn-primary btn-lg">Uložit změny</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}