{% extends "layout/layout.twig" %}
{% block title %}Nastavení - Fakturační údaje{% endblock %}
{% block content %}
{% include "components/menu-settings.twig" %}
<div class="container">
    <div class="inner-container">
        <div class="content">
            <form>
                <div class="form-group is-required">
                    <label for="formGroupExampleInput">Firma / Jméno</label>
                    <input type="text" class="form-control" value="Československá obchodní banka, a.s." id="formGroupExampleInput" required>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <label for="formGroupExampleInput">IČ</label>
                                <a href="" class="fz--sm">Dovyplnit dle IČ</a>
                            </div>
                            <input type="text" class="form-control" value="Československá obchodní banka, a.s." id="formGroupExampleInput">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="formGroupExampleInput">DIČ</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" >
                        </div>
                    </div>
                </div>
                <div class="form-group is-required">
                    <label for="formGroupExampleInput">Ulice a č.p.</label>
                    <input type="text" class="form-control" value="Radlická 333/150" id="formGroupExampleInput" required>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group is-required">
                            <label for="examplepsc">PSČ</label>
                            <input type="text" class="form-control" id="exampleadress">
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="form-group is-required">
                            <label for="examplecity">Město </label>
                            <input type="text" class="form-control" id="examplecity">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Stát</label>
                    <select class="custom-select">
                        <option selected>Česká republika</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Fakturační email</label>
                    <input type="email" class="form-control" value="">
                </div>

                <div class="text-center text-secondary fz--sm my-4">
                    (Pole označená <span class="required-mark"></span></span> jsou povinná)
                </div>
                <div class="text-center mb-5">
                    <a href="" class="btn btn-primary btn-lg">Uložit změny</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
