{% extends "layout/layout.twig" %}
{% block title %}Nastavení - informace o firmě{% endblock %}
{% block content %}
    {% include "components/menu-settings.twig" %}
        <div class="container">
            <h1 class="sj-hidden">Nastavení - informace o firmě</h1>
            <div class="inner-container">
                <div class="content">
                    <form>
                        <div class="form-group is-required">
                            <label for="formGroupExampleInput">Jméno firmy</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" required>
                        </div>
                        <div class="mb-3 is-required">
                            <div class="d-flex justify-content-between align-items-center">
                                <label for="formGroupExampleInput">Logo firmy</label>
                                <span class="fz--sm text-secondary">Ideální rozměr je 140x70px</span>
                            </div>

                            <label for="exampleInputFile" class="label-control-file sj-dashed-border hidden-label">
                                <strong>Pro úpravu přetáhněte logo sem</strong>
                                <div class="fz--sm">
                                    <span class="text-secondary">nebo</span>
                                    <span class="color--primary">Vyberte ze složky</span>
                                </div>
                                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="">
                            </label>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group is-required">
                                    <label for="">Obor firmy</label>
                                    <select class="custom-select">
                                        <option selected>E-commerce</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group is-required">
                                    <label for="">Velikost firmy</label>
                                    <select class="custom-select">
                                        <option selected>Rozjezd</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group is-required">
                            <div class="form-group-header d-flex justify-content-between ">
                                <label for="exampleTextarea">Krátký popis firmy</label>
                                <span class="color--success fz--sm-mobile">+ Přidat anglicku verzi</span>
                            </div>

                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <div class="form-group-header d-flex justify-content-between">
                                <label for="exampleTextarea">Podrobný popis firmy</label>
                                <span class="color--success fz--sm-mobile">+ Přidat anglicku verzi</span>
                            </div>

                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        <div class="form-group is-required">
                            <label for="exampleadress">Ulice a čp</label>
                            <input type="text" class="form-control" id="exampleadress">
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group is-required">
                                    <label for="examplepsc">PSČ</label>
                                    <input type="text" class="form-control" id="exampleadress">
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="form-group is-required">
                                    <label for="examplecity">Město </label>
                                    <input type="text" class="form-control" id="examplecity">
                                </div>
                            </div>
                        </div>
                        <div class="form-group is-required">
                            <label>Web</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group is-required">
                            <label for="publicEmail">Veřejný email</label>
                            <input type="email" class="form-control" id="publicEmail">
                        </div>
                        <div class="form-group">
                            <label>Web</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group >
                                <label>Odkaz na Facebook</label>
                                <input type=" text
                        " class="form-control">
                </div>
                <div class="form-group ">
                    <label>Odkaz na Twitter</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group mb-5">
                    <label>Odkaz na Linked in</label>
                    <input type="text" class="form-control">
                </div>

                <h2 class="h2 text-center mb-2">Kontakt ke komunikaci se StartupJobs.cz</h2>

                <div class="form-group is-required">
                    <label>Jméno kontaktní osoby</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group is-required">
                    <label for="publicEmail">Kontaktní email</label>
                    <input type="email" class="form-control" id="publicEmail">
                </div>





                <div class="form-check ">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Zasílat pravidelný e-mailový přehled</span>
                    </label>
                </div>
                <div class=form-check">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Můžeme si tykat?</span>
                    </label>
                </div>

                <div class="text-center text-secondary fz--sm my-4">
                    (Pole označená <span class="required-mark"></span></span> jsou povinná)
                </div>
                <div class="text-center mb-5">
                    <a href="" class="btn btn-primary btn-lg">Uložit změny</a>
                </div>


                </form>
            </div>
        </div>

    {% endblock %}


