{% extends "layout/base.twig" %}

{% block title %}Styleguide - StartupJobs Template{% endblock %}

{% block body %}
    <div class="container">
        <h1>StartupJobs admin – <em>Style guide</em></h1>
        <section>
            <h2 class="h2">Buttons</h2>
            <a href="#" class="btn btn-primary">Primary</a>
            <a href="#" class="btn btn-success">Success</a>
            <a href="#" class="btn btn-danger">Danger</a>
        </section>
        <section>
            <h2 class="h2">Small buttons</h2>
            <a href="#" class="btn btn-primary btn-small">Primary</a>
            <a href="#" class="btn btn-success btn-small">Success</a>
            <a href="#" class="btn btn-danger btn-small">Danger</a>
            <a href="#" class="btn btn-default btn-small">Default</a>
        </section>
        <section>
            <h2 class="h2">Select buttons</h2>
            <label class="btn-checkbox">
                <input type="checkbox" value="1">
                <span class="btn btn-primary">Primary
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488.878 488.878"><path d="M143.294 340.058l-92.457-92.456L0 298.439l122.009 122.008.14-.141 22.274 22.274L488.878 98.123l-51.823-51.825z" /></svg>
                    </span>
                </span>
            </label>

            <label class="btn-checkbox">
                <input type="checkbox" value="1">
                <span class="btn btn-success">Primary
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488.878 488.878"><path d="M143.294 340.058l-92.457-92.456L0 298.439l122.009 122.008.14-.141 22.274 22.274L488.878 98.123l-51.823-51.825z" /></svg>
                    </span>
                </span>
            </label>

            <label class="btn-checkbox">
                <input type="checkbox" value="1">
                <span class="btn btn-info">Primary
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488.878 488.878"><path d="M143.294 340.058l-92.457-92.456L0 298.439l122.009 122.008.14-.141 22.274 22.274L488.878 98.123l-51.823-51.825z" /></svg>
                    </span>
                </span>
            </label>
        </section>

        <section>
            <h2 class="h2">Icon buttons</h2>

            <button class="btn btn-default btn-small btn-icon">
                <span class="icon icon-inline">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 386.375 386.375"><path d="M21.05 286.875l76.5 76.5-1.9 3.8-95.6 19.2 19.1-95.6 1.9-3.9zm13.6-14.1l77.1 77.1 216.4-216.399-77.101-77.1L34.65 272.775zm340.2-238.4l-23-22.9c-15.3-15.3-38.199-15.3-53.5 0l-32.5 32.5 76.5 76.5 32.5-32.5c15.3-15.3 15.3-40.2 0-53.6z" /></svg>
                </span>
            </button>
            <button class="btn btn-default btn-small btn-icon icon-danger">
                <span class="icon icon-inline">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490.8 490.8"><path d="M418.95 127.9h-347c-3.2 0-5.8 2.6-5.8 5.8v32c0 3.2 2.6 5.8 5.8 5.8h30.5l23.8 281.5c1.8 21.4 19.7 37.8 41.1 37.8h160.7c21.7 0 39.7-16.8 41.2-38.5l19.1-280.8h30.5c3.2 0 5.8-2.6 5.8-5.8v-32c0-3.3-2.6-5.8-5.7-5.8zM418.95 59.7h-113c0-.5.1-1.1.1-1.6V40.6c0-22.4-18.2-40.6-40.6-40.6h-40c-22.4 0-40.6 18.2-40.6 40.6v17.5c0 .5.1 1.1.1 1.6h-113c-3.2 0-5.8 2.6-5.8 5.8v32c0 3.2 2.6 5.8 5.8 5.8h346.9c3.2 0 5.8-2.6 5.8-5.8v-32c0-3.3-2.6-5.8-5.7-5.8zm-199.6-19.1c0-3.4 2.8-6.2 6.2-6.2h39.9c3.4 0 6.2 2.8 6.2 6.2v17.5c0 .6-.2 1.1-.3 1.6h-51.6c-.1-.5-.3-1-.3-1.6V40.6h-.1z" /></svg>
                </span>
            </button>

        </section>

        <section>
            <h2 class="h2">Forms</h2>

            <form>
                <div class="form-group is-required">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>

                <div class="form-group has-danger">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>

                <div class="form-group ">
                    <label for="exampleSelect1" class="form-label">Example select</label>
                    <div class="select-custom">
                        <select class="form-control" id="exampleSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleTextarea">Example textarea</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>

                <fieldset class="form-group">
                    <legend>Radio buttons</legend>
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-radio">
                            <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Boots</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Shoes</span>
                        </label>
                    </div>

                </fieldset>
                <fieldset class="form-group">
                    <legend>Checkboxes</legend>
                    <div class="form-check">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Boots</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Boots</span>
                        </label>
                    </div>
                </fieldset>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </section>
        <h2 class="h2">Ikony</h2>
        <section style="display: flex;flex-direction: row;flex-wrap: wrap;">
            <style>
                .sg-icons {
                    display: flex;
                    flex-wrap: wrap;
                }

                .sg-icons-item {
                    flex: 1 0 10%;
                    margin-right: 1rem;
                    margin-bottom: 3rem;
                    min-width: 12rem;
                }

                .sg-icon {
                    display: block;
                    font-size: 3rem;
                    position: relative;
                    padding: .3rem;
                    background-color: rgba(216, 230, 255, 0.68);
                    border: 1px solid #CCC;
                    line-height: 0;
                    height: 2em;
                    width: 2em;
                }

                .sg-icon svg g,
                .sg-icon svg path {
                    fill: grey;
                }

                .sg-icon:hover svg g,
                .sg-icon:hover svg path {
                    fill: lightblue;
                }
            </style>


        </section>
        <div class="sg-icons">

            <div class="sg-icons-item">
                <h3>arrow_expand</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#arrow_expand"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>arrow_expand_active</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#arrow_expand_active"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>arrow_select</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#arrow_select"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>arrow_select_active</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#arrow_select_active"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>cancel</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#cancel"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>checkmark</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#checkmark"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>contacted</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#contacted"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>download</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#download"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>e-mail</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#e-mail"></use>
                    </svg>
                </div>
            </div>

            {#<div class="sg-icons-item">
                <h3>e-mail_company</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#e-mail_company"></use>
                    </svg>
                </div>
            </div>#}

            <div class="sg-icons-item">
                <h3>e-mail_rounded</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#e-mail_rounded"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>edit</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#edit"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>facebook</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#facebook"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>facebook_rounded</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#facebook_rounded"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>fast_contact</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#fast_contact"></use>
                    </svg>
                </div>
            </div>

            {#<div class="sg-icons-item">
                <h3>favorites_notification</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#favorites_notification"></use>
                    </svg>
                </div>
            </div>#}

            {#<div class="sg-icons-item">
                <h3>flash_caution</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#flash_caution"></use>
                    </svg>
                </div>
            </div>#}

            {#<div class="sg-icons-item">
                <h3>flash_error</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#flash_error"></use>
                    </svg>
                </div>
            </div>#}

            {#<div class="sg-icons-item">
                <h3>flash_succes</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#flash_succes"></use>
                    </svg>
                </div>
            </div>#}

            <div class="sg-icons-item">
                <h3>github_rounded</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#github_rounded"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>help</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#help"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>in_favorites</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#in_favorites"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>job_offer</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#job_offer"></use>
                    </svg>
                </div>
            </div>

            {#<div class="sg-icons-item">
                <h3>job_offer_notification</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#job_offer_notification"></use>
                    </svg>
                </div>
            </div>#}

            <div class="sg-icons-item">
                <h3>linkedin</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#linkedin"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>linkedin_rounded</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#linkedin_rounded"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>lupe</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#lupe"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>minus</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#minus"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>more_options</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#more_options"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>navigation_other</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#navigation_other"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>next</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#next"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>next_small</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#next_small"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>previous</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#previous"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>previous_small</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#previous_small"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>notifications</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#notifications"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>phone_company</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#phone_company"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>plus</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#plus"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>to_favorites</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#to_favorites"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>trash</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#trash"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>twitter</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#twitter"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>twitter_rounded</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#twitter_rounded"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>video</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#video"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>web_company</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#web_company"></use>
                    </svg>
                </div>
            </div>

            <div class="sg-icons-item">
                <h3>web_rounded</h3>
                <div class="sg-icon">
                    <svg role="img">
                        <use xlink:href="svg/icons/icon-sprite.svg#web_rounded"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="container fz--xlg">
    <span class="icon-arrow_expand_active"></span>
    <span class="icon-arrow_expand"></span>
    <span class="icon-arrow_select_active"></span>
    <span class="icon-arrow_select"></span>
    <span class="icon-cancel"></span>
    <span class="icon-contacted"></span>
    <span class="icon-download"></span>
    <span class="e-mail_rounded"></span>
    <span class="e-mail"></span>
    <span class="icon-edit"></span>
    <span class="icon-facebook_rounded"></span>
    <span class="icon-facebook"></span>
    <span class="icon-fast_contact"></span>
    <span class="icon-github_rounded"></span>
    <span class="icon-help"></span>
    <span class="icon-checkmark"></span>
    <span class="icon-in_favorites"></span>
    <span class="icon-job_offer"></span>
    <span class="icon-linkedin_rounded"></span>
    <span class="icon-linkedin"></span>
    <span class="icon-lupe"></span>
    <span class="icon-minus"></span>
    <span class="icon-more_options"></span>
    <span class="icon-navigation_other"></span>
    <span class="icon-next_small"></span>
    <span class="icon-next"></span>
    <span class="icon-notifications"></span>
    <span class="icon-phone_company"></span>
    <span class="icon-plus"></span>
    <span class="icon-previous_small"></span>
    <span class="icon-previous"></span>
    <span class="icon-to_favorites"></span>
    <span class="icon-trash"></span>
    <span class="icon-twitter_rounded"></span>
    <span class="icon-twitter"></span>
    <span class="icon-video"></span>
    <span class="icon-web_company"></span>
    <span class="icon-web_rounded"></span>
    </div>
{% endblock %}
